﻿<template>

    <kendo-grid :data-source="dataSource" :columns="gridColumns" @databound="onDataBound" pageable="true">

    </kendo-grid>
</template>
<script>
    module.exports = {
        data: function () {
            return {
                dataSource: new kendo.data.DataSource({
                    transport: {
                        read: projectBaseData.webApiUrl + "sample/getsamplesforanalyst"
                    },
                    schema: {
                        model: {
                            id: "OID",
                            fields: {
                                WAYBILLNO: { type: "string", validation: { required: true } },
                                SAMPLENO: { type: "string" },
                                SAMPLESEQ: { type: "int" },
                                SAMPLEDATE: { type: "date" },
                                FRACTION: { type: "string" },
                                URGENCY: { type: "string" },
                                VARIAN: { type: "string" },
                                SEMIDRY: { type: "string" },
                                LOCATION: { type: "string" },
                                SAMPLER: { type: "string" }
                            }
                        }
                    },
                    pageSize: 15
                }),
                gridColumns: [
                    { field: "SAMPLENO", title: "Sample No" },
                    { field: "LOCATION", title: "Location", template: this.locationTemplate },
                    { field: "VARIAN", title: "Varian", template: this.varianTemplate },
                    { field: "URGENCY", title: "Urgency" },
                    { field: "SAMPLER", title: "Sampler" },
                    { command: [{ name: "Submit", click: this.onClickSubmit }], title: '&nbsp;'}
                ]
            }
        },
        methods: {
            locationTemplate: function(dataItem) {
                var location = "-";
                if (dataItem.LOCATION == "FACEMINING") {
                    location = "Face Mining";
                } else if (dataItem.LOCATION == "SS") {
                    location = "Screen Station";
                } else if (dataItem.LOCATION == "TROMMEL") {
                    location = "Trommel";
                }
                return location;
                        
            },
            varianTemplate: function (dataItem) {
                var varian = "-";
                if (dataItem.VARIAN == "TOPORE") {
                    varian = "Top Ore";
                } else if (dataItem.VARIAN == "BOTTOMORE") {
                    varian = "Bottom Ore";
                } else {
                    varian = dataItem.VARIAN;
                }
                return varian;
            },
            onDataBound: function(e) {

            },
            onClickSubmit: function (e) {
                alert("Click Submit");
            }
        },
        created: function () {
            
        }
    }
</script>