﻿<template>
    <div>
        <h3>Home Form</h3>

        <kendo-grid :data-source="dataSource" :columns="gridColumns" pageable="true">

        </kendo-grid>
    </div>
    
</template>
<script>
    
    module.exports = {
        data: function () {
            return {
                dataSource: new kendo.data.DataSource({
                    transport: {
                        read: projectBaseData.webApiUrl + "sample/getsamplesforanalyst"
                    },
                    schema: {
                        model: {
                            id: "OID",
                            fields: {
                                WAYBILLNO: { type: "string", validation: { required: true } },
                                SAMPLENO: { type: "string" },
                                SAMPLESEQ: { type: "int" },
                                SAMPLEDATE: { type: "date" },
                                FRACTION: { type: "string" },
                                URGENCY: { type: "string" },
                                VARIAN: { type: "string" },
                                SEMIDRY: { type: "string" },
                                TYPE: { type: "string" },
                                SAMPLER: { type: "string" }
                            }
                        }
                    },
                    pageSize: 15
                }),
                gridColumns: [
                    { field: "SAMPLENO", title: "Sample No" },
                    { field: "TYPE", title: "Type" },
                    { field: "VARIAN", title: "Varian" },
                    { field: "URGENCY", title: "Urgency" },
                    { field: "SAMPLER", title: "Sampler" }
                ]
            }
        }
    }
</script>