﻿
    <template>
     <div class="form-group">
                                    <label class=" col-sm-3 control-label" for="{{id_for}}">{{title}}</label>
                                    <div class="col-sm-9">
                                      <slot name="inpField"></slot>

                                </div>
      </div>
    </template>
	<script>
	module.exports = {
	 data: function () {
			return {
                Type: ''
            };
	},
      props: ['id_for', 'title']
	};
	</script>