﻿ <template>
                          <div class="form-group">
                                    <label class=" col-sm-3 control-label" for="{{id_for1}}">{{title1}}</label>
                                    <div v-if="title2 !=''" class="col-sm-3">
                                      <slot name="inpField1"></slot>
                                    </div>
                               <div v-else class="col-sm-4">
                                      <slot name="inpField1"></slot>
                                    </div>

                                    <label v-if="title2 !=''" class="col-sm-3 control-label" for="{{id_for2}}">{{title2}}</label>
                                    <div  v-if="title2 !=''" class="col-sm-3">
                                        <slot name="inpField2"></slot>
                                    </div>
                                  <div  v-else class="col-sm-4">
                                        <slot name="inpField2"></slot>
                                    </div>
                   </div>
    </template>

	<script>
	module.exports={
	 data: function () {
                return {
                    Type: ''
                };
            },
            props: ['id_for1','title1', 'id_for2', 'title2']
	}
	</script>