﻿<template>
<div>
<kendo-grid :columns="GridColumns" ></kendo-grid>

</div>
</template>
<script>
  module.exports={
  data:function(){
  return {
  GridColumns:[
  { field: 'WALYBILLNO',title:'Waybill No' },
  {field:'TOTALSAMPLE',title:'TotalSample'},
  { field: 'WAYBILLTYPE',title:'From' },
  {field:'AREA',title:'Location'},
  {field:'REPORTSTATUS',title:'Status'},
  { field: 'CREATEDDATE',format:'{0:dd MMM yyyy hh:mm:ss}', title: 'Created Date' },
  {field:'OID',title:' '}
  ],
  DataSource:new kendo.data.DataSource({
  transport: {
  read: {
  url: projectBaseData.webApiUrl + 'waybill?mode=today_mral'
  }
  },
  schema: {
  model: waybillModel
  }
  })
  }
  },
  props:["waybill-source"]
  }
</script>