﻿.gdiDiv
{
	padding: 10px 5px;
}

.gdiTitle
{
	font-size: 16pt;
	font-weight: bold;
	padding-bottom: 10px;
	color: #007e7a;
}

.gdiContent
{
	/*width: 97%;*/
	/*border: solid 1px #007e7a;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px 10px;
}

.gdiFieldset
{
	/*width: 97%;*/
	border: solid 1px #ccc;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	padding: 10px;
    background-color: #f1f1f1 !important;
	/*margin-bottom: 10px;
	padding-bottom: 12px;*/
}

.gdiLegend
{
	/*color: #428bca;*/
	font-weight: bold;
}

.gdiContent ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
    /*padding-bottom:10px;*/
}

.gdiContent li
{
	margin: 4px 0;
}

.labelForm
{
	display: inline-block;
	width: 180px;
	font-size: 10pt;
    /*padding-bottom:15px;*/
}

.labelFormWeight
{
	display: inline-block;
	width: 200px;
	font-size: 10pt;
	/*font-weight: bold;*/
	/*color: #ecb11f;*/
	/*color: #ecb11f;*/
	
}

.labelFormAutoWidth
{
	display: inline-block;
	width: auto;
	font-size: 10pt;
    padding-bottom: 15px;
}
/*.labelForm
{
	display: inline-block;
	width: auto;
	font-size: 10pt;
}*/

.labelValue
{
	display: inline-block;
	width: auto;
    /*color: #659333;*/
	/*font-size: 10pt;*/
}

/*.labelAreaForm
{
	display: inline-block;
	width: 170px;
	font-size: 10pt;
	vertical-align: top;
	margin-top: 5px;
}*/

.gdiButton
{
	text-align: right;
	min-width: 300px;
}

.gdiHorCheckbox1
{
	margin-right: 5px;
}

.gdiHorCheckbox2
{
	margin-left: 30px;
	margin-right: 5px;
}

.textarea
{
	resize: none;
	border-color: #c5c5c5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 10pt;
}

.label
{
	margin-bottom: 10px;
}

.labelSubTitle
{
	font-size: 10.5pt;
	/*color: #007e7a; hijau*/ color: #2e2e2e;
}

.gdiChkBox
{
	margin-right: 5px;
}

.gdiRadio
{
    width:auto;
    border:none;
}

:-ms-input-placeholder
{
    font-style:italic;
    color:silver !important;
}

.formloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("Images/Loader.gif") 50% 50% no-repeat rgb(249,249,249);
}
/*#btnSave #btncancel {
    width:100px;
}*/

    .subColumnTitle{
        display: block;
        font-size: 70%;
        line-height: normal;
        font-family: robotoregular,'Myriad Pro','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
        text-align: left;
        color: gray;
        font-style:italic;
        margin-top: 3px;
    }
