﻿html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #333;
    font-size: .85em;
    font-family: 'open sans',robotoregular,'Myriad Pro','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
    height: 100%;
    min-height: 100%;
    margin: 0px !important;
}

header, footer, hgroup,
nav, section {
    display: block;
}

header {
    background-image: url("../Images/iprom_header_3.png") !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 110px;
    top: 0;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
    /*font-family: "PMN Caecilia Roman", "caecilia lt std";*/
    font-family: robotoregular,'Myriad Pro','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
}

h2 {
    font-size: 1.75em;
    /*font-family: "Myriad Pro";*/
    font-family: robotoregular,'Myriad Pro','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

.logo {
    left: 0;
    padding-top: 10px;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: auto;
    max-width: 1280px;
}

#body {
    /*background-color: #e5f7d1;*/
    background-color: transparent;
    clear: both;
    padding-top: 110px;
    padding-bottom: 37px;
}

.main-content {
    padding: 5px 10px 10px 10px;
    background-color: transparent;
    margin-top: auto;
    border: solid 1px transparent;
    border-radius: 5px;
}

#mainContent {
    margin: 5px 0px;
}

.title_page, .title_page h1, .title_page h2, .title_page h3 {
    /*color: darkolivegreen;*/
    color: #747678;
    /*font-size: 14px;*/
    display: block;
    font-size: 16px;
    font-weight: bold;
    /*font-family: "PMN Caecilia Roman", "Myriad Pro", Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
}

.title_page {
    /*color: #747678 !important;*/
    /*padding-left: 20px;*/
    margin-top: 20px;
    color: white;
    font-weight: 500;
    font-size: large;
}

.featured + .main-content {
    /*background: url("../Images/wave_half.png") no-repeat;*/
}

header .content-wrapper {
    padding: 0px 10px;
    /*background-color: #659333;*/
}

footer {
    /*background-image: url("../Images/footer.png");*/
    background-color: #57595b;
    clear: both;
    Position: fixed;
    z-index: 999;
    /*margin-top: -40px;*/
    Bottom: 0;
    top: auto;
    right: 0;
    left: 0;
    Height: 40px;
    font-size: .8em;
    color: #fff;
    width: 100%;
}

.footer-text {
    font-weight: normal;
}

tbody {
    font-size: 12px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: robotoregular,'Myriad Pro','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    /*margin: 0 0 5px;*/
    text-align: right;
    /*margin-top: 10px;*/
    width: 400px;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

    #login ul {
        margin: 2px 0px 0px 0px;
    }

    #login li {
        display: inline;
        list-style: none;
        color: #727272;
        font-weight: normal;
    }


/* menu
----------------------------------------------------------*/

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    /*guide color*/
    /*background-image: url("../Images/wavetop2.png");*/
    background-repeat: no-repeat;
    background-position: top center;
    background-color: transparent;
    /*height: 60px;*/
}

    .featured .content-wrapper {
        background-color: transparent;
        color: #E37222;
        font-weight: 500;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #444;
        font-family: robotoregular,'Myriad Pro','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
        padding: 0px 0px 15px 0px;
        /*margin-top: 50px;*/
        margin-left: 0px;
        min-width: 960px;
    }

    .featured p {
        font-size: 14px;
        padding: 0px 10px;
        text-align: justify;
        margin: 0px;
    }

/* page titles */
hgroup.title {
    /*margin-top:50px;*/
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline-block;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    /*border: none;
    margin: 0;
    padding: 0;*/
}

    fieldset legend {
        /*display: none;*/
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    /*21 nov*/
    padding: 0px 0px 5px 8px;
    color: #2e2e2e;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    /*margin: 5px 0 6px 0;*/
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: none;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #747678;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 550;
    padding: 3px 5px 3px 5px;
    margin-right: 7px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/



/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login
----------------------------------------------------------*/
    #login {
        display: block;
        font-size: .85em;
        margin: 0 0 10px;
        text-align: right;
    }

        #login a {
            background-color: #d3dce0;
            margin-left: 10px;
            margin-right: 3px;
            padding: 2px 3px;
            text-decoration: none;
        }

            #login a.username {
                background: none;
                margin-left: 0px;
                text-decoration: underline;
            }

        #login ul {
            margin: 2px 0px 0px 0px;
        }

        #login li {
            display: inline;
            list-style: none;
            color: #fff;
            font-weight: normal;
        }

    /* menu 
    ----------------------------------------------------------*/
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        /*background-position: 10px 0;*/
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */


.iconmenu {
    border: none !important;
    vertical-align: middle !important;
}

.textmenu {
    margin: 0 0 0 5px !important;
    text-align: center !important;
    vertical-align: middle !important;
}

/* Success template */
.k-notification-upload-success.k-group {
    background: rgba(0%,60%,0%,.7);
    color: #fff;
}

.upload-success {
    width: 240px;
    height: 100px;
    padding: 0 30px;
    line-height: 100px;
}

    .upload-success h3 {
        font-size: 1.7em;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
    }

    .upload-success img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

div.k-loading-mask {
    z-index: 10; /* must be larger than the z-index:2 of #container */
}

/*menu*/
.k-menu .k-state-hover > .k-link:hover {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.k-menu > .k-state-hover {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#menuContainer .k-state-active {
    background-color: transparent !important;
}

.k-state-active {
    background-color: #f2f2f2 !important; /*tabstrip*/
    border-color: #ccc !important;
    outline: none !important;
    box-shadow: none !important;
}

#ProjectMenu {
    background: none !important;
    margin-top: -4px !important;
}

.k-grid {
    width: 100% !important;
}

#ProjectMenu ul li a span {
    font-size: 13px !important;
}

#ProjectMenu > ul > li > a span:hover {
    text-shadow: 1px 1px 2px #333 !important;
}

.k-i-arrow-s:before {
    display: none !important;
}

.k-menu .k-item > .k-link > .k-i-arrow-60-down {
    color: #fff !important;
}

/*pagenumber*/
.k-state-selected {
    background-color: #137dbb !important;
    border-color: #137dbb !important;
}

.k-pager-numbers .k-link, .k-pager-wrap {
    line-height: 2.3em !important;
}


/*icon button*/
.k-button.k-button-icontext .k-icon {
    vertical-align: sub !important;
}

/*footer*/
.content-wrapper > .float-left > p {
    padding-left: 10px !important;
}

.content-wrapper > .float-right > p {
    padding-right: 10px !important;
}

/*popupwindow*/
#popupAddRole > div {
    padding: 2px 0px;
}

div.k-window-content {
    box-sizing: content-box !important;
}

.k-menu .k-animation-container {
    margin-top: -11px !important;
}


/*root icon*/
:root * > .k-icon {
    vertical-align: sub !important;
}


/*tab*/
.k-tabstrip > .k-content {
    padding: 0.5em 5px !important;
}

.k-tabstrip-items .k-item {
    border-width: 0px 1px !important;
}

.k-tabstrip:focus {
    box-shadow: none !important;
}


/*general*/
.k-state-focused {
    box-shadow: none !important;
}

.k-radio-label {
    font-size: 14px !important;
}

/*requestprojectform*/
.gdiFieldset div:not(.k-multiselect-wrap):not(.k-button) {
    margin-bottom: 5px !important;
}


/*div.k-button {
    margin-bottom: 0px !important;
}*/

div#RequestProject_create {
    margin-top: 5px !important;
}

/*Input Technical Support*/

#RequestContent > .k-multiselect-wrap .k-floatwrap {
    margin-bottom: 0px !important;
}


/*Archive Project List*/
#ArchiveProjectList_ArchiveProjectListControl > .k-block {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

    #ArchiveProjectList_ArchiveProjectListControl > .k-block fieldset {
        border: solid 1px #ccc;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        padding: 10px;
        background-color: #f1f1f1 !important;
    }

.divRow .divCell .k-button {
    margin-bottom: 0px !important;
}

.subTitleTemplate {
    display: block;
    font-size: 70%;
    line-height: normal;
    font-family: robotoregular,'Myriad Pro','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif !important;
    text-align: left;
    color: gray;
    font-style: italic;
    margin-top: 3px;
}

.k-grid tbody tr td {
    vertical-align: top;
}

.k-state-active > .k-icon.k-i-filter {
    color: #e80c4d !important;
}

/*side menu*/
#sideBarMenu {
    margin-top: 29px;
    width: 38px;
    overflow: hidden;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

    #sideBarMenu:hover {
        width: 180px !important;
        overflow: visible;
    }

    #sideBarMenu > li:hover {
        background-color: #ebebeb !important;
    }

    #sideBarMenu > li > a:hover {
        color: #333;
    }

    #sideBarMenu a.k-link {
        padding: 7px !important;
    }

/*border radius on table, ect*/
#sideBarMenu, .k-grid {
    border-radius: 0px !important;
}

/*ukuran font*/
#MainProjectForm1_MainProjectContent > .headerSubProject {
    font-weight: 600 !important;
    padding-bottom: 5px !important;
}

/*technical support tab*/
#HomeTechnicalSupportControl_HomeMyProjectControl .k-button.k-state-active{
	color:#333 !important;
	background-color:#dbdbdb !important;
}